.navbar {
  height: 60px;
  background: #2c3e50;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
  .logo {
    font-weight: bold;
    font-size: 20px;
  }

  .nav-items {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    
    li {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 16px;
      transition: all 0.3s ease;

      &.logout {
        display: flex;
        align-items: center;
      }

      mat-icon {
        margin-right: 8px;  // Space between the icon and text
      }

      &:hover {
        color: #3498db;  // Hover color
      }
    }
  }
}

.container {
  display: flex;
  height: calc(100vh - 60px);  // Adjust height based on the navbar height
  
  .sidebar {
    width: 220px;
    background: #ecf0f1;
    padding: 20px 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

    .sidebar-nav {
      display: flex;
      flex-direction: column;
    }

    .sidebar-filters {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        padding: 12px 15px;
        cursor: pointer;
        font-size: 16px;
        color: #34495e;
        transition: all 0.3s ease;

        &:hover {
          background: #bdc3c7;
          color: #2c3e50;
        }
      }
    }
  }

  .main-content {
    flex: 1;
    padding: 20px;
    background: #fff;
    overflow-y: auto;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  }
}
